.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 1.35vw;
  margin-top: 6.76vw;
}

.explore-menu h1 {
  color: #fffbbc;
  font-weight: 500;
  font-family: "Basker";
}

.explore-menu-text {
  max-width: 100%;
  color: #ffffff;
  font-size: 1.35vw;
  font-family: "Basker";
  line-height: 1.5;
  text-align: justify;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.03vw;
  text-align: center;
  margin: 1.35vw 0;
  overflow-x: scroll;
  margin-top: 4.06vw;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 5.41vw; /* 80px */
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore-menu-list-item .active {
  border: 0.27vw solid #ffb300;
  padding: 0.14vw;
}

.explore-menu-list-item p {
  margin-top: 0.68vw;
  color: #ffc8b5;
  font-size: max(1.4vw, 1.08vw); /* 16px como mínimo */
  cursor: pointer;
  font-family: "Basker";
}

.explore-menu hr {
  margin: 0.68vw 0;
  height: 0.14vw;
  background-color: #ffffff;
  border: none;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    /* font-size: 14px; */
  }
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
