.header {
  height: 40vw;
  background: url("../src/assets/restaurante.jpg") no-repeat;
  background-size: 100%;
  position: relative;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 40%;
  left: 6vw;
  animation: fadeIn 3s;
  border-radius: 5px;
}
.header-contents h2 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: "Basker";
  font-size: max(4.5vw, 22px);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para el h2 */
}
.header-contents p {
  color: white;
  font-size: 1.8vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1); /* Sombra para el p */
  font-family: "Basker";
}
.header-contents button {
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background: #c62828;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 100%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
