.navbar {
  width: 100%;
  padding: 0.68vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #af0000 0%, #f78400 100%);
  box-shadow: 0 0.27vw 1.35vw rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  width: 8vw;
  margin: 0.68vw;
  border-radius: 0.41vw;
  margin-left: 5.41vw;
}

.navbar-title {
  font-size: 2.71vw;
  font-family: "Basker";
  font-weight: bold;
  color: #ffffff;
  margin: 0 1.35vw;
  text-align: center;
}

.navbar-menu {
  display: flex;
  font-family: "Basker";
  list-style: none;
  gap: 2.71vw;
  color: #ffffff;
  font-size: 1.35vw;
}

.navbar-menu .active {
  padding-bottom: 0.14vw;
  border-bottom: 0.14vw solid #ffb300;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2.71vw;
  margin: 0;
  margin-right: 5.41vw;
}

.navbar-search-icon {
  position: relative;
  width: 2.37vw;
  height: auto;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 0.68vw;
  min-height: 0.68vw;
  background-color: #ffb300;
  border-radius: 50%;
  top: -0.54vw;
  right: -0.54vw;
}

.search-icon {
  width: 0.68vw;
  height: auto;
}

.basket-icon {
  width: 2.37vw;
  height: auto;
}

.basket-icon-full {
  width: 2.37vw;
  height: 2.37vw;
}

.navbar-right button {
  background: transparent;
  font-family: "Basker";
  font-size: 1.08vw;
  color: #ffffff;
  border: 0.07vw solid #f7f7f7;
  padding: 0.68vw 0.68vw;
  border-radius: 0.68vw;
  cursor: pointer;
  transition: 0.3s;
  margin: 1.01vw;
}

.navbar-right button:hover {
  background: #2e7d32;
}

.navbar-profile {
  position: relative;
  margin-right: 2.03vw;
}

.nav-profile-dropdown {
  font-family: "Basker";
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.68vw;
  background-color: #fff2ef;
  padding: 0.81vw 1.69vw;
  border-radius: 0.27vw;
  border: 0.07vw solid tomato;
  outline: 0.14vw solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 0.68vw;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 1.35vw;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 8vw;
  }

  .navbar-menu {
    gap: 1.35vw;
    font-size: 1.15vw;
  }

  .navbar-right {
    gap: 2.03vw;
  }

  .navbar-right img {
    width: 2vw;
  }

  .navbar-right button {
    padding: 0.54vw 1.69vw;
  }
  .navbar-title {
    font-size: 3vw;
  }
}

@media (max-width: 1000px) {
  .navbar .logo {
    width: 8vw;
  }

  .navbar-menu {
    gap: 1.01vw;
    font-size: 1.08vw;
  }

  .navbar-right {
    gap: 1.35vw;
  }

  .navbar-right img {
    width: 1.35vw;
  }

  .navbar-right button {
    font-size: 2.5vw;
    padding: 0.47vw 1.35vw;
  }
  .navbar-title {
    font-size: 4vw;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
  .navbar-right button {
    font-size: 3.01vw;
    padding: 0.47vw 1.35vw;
  }
  .navbar-title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .navbar-menu {
    display: none;
  }
  .navbar-right button {
    font-size: 4.5vw;
    padding: 0.47vw 1.35vw;
  }
  .navbar-title {
    font-size: 5vw;
  }
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Basker";
  src: url("./fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
