.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #2ABBAE, #1E3A5F);
  border-radius: 5px;
  box-shadow: 2px;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}

.navbar .logo {
  width: 150px;
  margin: 20px;
  border-radius: 6px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #FFFFFF;
  font-size: 18px;
}

.navbar-menu .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #FFB300;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-search-icon{
position: relative;
}

.navbar-search-icon .dot{
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #FFB300;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.basket-icon {
  width: 35px;
  height: auto;
}

.navbar-right button {
  background: transparent;
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #F7F7F7;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px;
}

.navbar-right button:hover {
  background: #b2b8be;
}

@media (max-width:1050px) {
  .navbar .logo {
      width: 140px;
  }

  .navbar-menu {
      gap: 20px;
      font-size: 17px;
  }

  .navbar-right {
      gap: 30px;
  }

  .navbar-right img {
      width: 22px;
  }

  .navbar-right button {
      padding: 8px 25px;
  }
}

@media (max-width:900px) {
  .navbar .logo {
      width: 120px;
  }

  .navbar-menu {
      gap: 15px;
      font-size: 16px;
  }

  .navbar-right {
      gap: 20px;
  }

  .navbar-right img {
      width: 20px;
  }

  .navbar-right button {
      font-size: 15px;
      padding: 7px 20px;
  }
}

@media (max-width:750px) {
  .navbar-menu {
      display: none;
  }
}
